
 <div class="cards">

  <div class="row" >  

      <div class="col-4" *ngFor="let imageitems of imagelist; index as id">

        <h3>

          <a [title]="imageitems.description + ' (click here for more info)'" >
            <img  [routerLink] = "['/productdescription', id]" src="{{imageitems.image}}"  style="height:500px; width:90%">
          </a>
        </h3>

      </div>


    </div>
  </div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
     <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/abstract-art-figurative-sajida-hussain.jpg" alt="image" style="height:70vh; width:100%;">
    </div>
    <div class="col-md-4">
    <p> Abstract art has the ability to express what other visual art styles cannot. It can address concepts that are intangible and theoretical, existing in the realms of mind and spirit, rather than in outer reality. Abstract art utilizes pure color, shape, and form to express its meaning, without getting bogged down in the storylines carried by objects and scenery. As such, abstract art can touch the emotions in a fresh, raw and powerfully direct way.</p>

On this website I write about abstraction as both a subject in art and as a style of art. This page will focus on the stylistic qualities of abstract art - that is, what it looks like and what form it takes. To deepen your understanding of the meaning, purpose, history and context surrounding abstract art, I highly recommend reading my other abstract art article.
    </div>
    <div class="col col-lg-4">
       <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/60989259/original/5090b0d6475d340bc7934394666a0e7ff359c97f/turn-your-photo-into-abstract-figurative-paintings-style.jpg" alt="image" style="height:70vh; width:100%;">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <img src="https://i.pinimg.com/originals/f4/26/15/f42615a02516db06daf73130262b6a96.gif" style="width:100%; height:70;">
    </div>
    <div class="col-md-5">
    <p> painting a wall can often take the place of a pricier home remodel for people who want to increase their home’s resale value. Clean-looking rooms with well-protected walls and a calculated emotional effect all equate to a better buyer experience when they come to view than if you had left your walls the way they were.</p>
<br>
<p>These benefits can be had without nearly as much labor, materials or disruption to your home as other, more involved renovations. Most real estate professionals in the Philadelphia area will recommend that you at least consider repainting in order to increase the value and appeal of your property without requiring a huge investment.

ServiceWhale can make it even cheaper and easier to have your home’s interior repainting by helping you compare quotes with experienced painting contractors in your area. Click here to enter in your project information and receive real custom quotes from local painting crews without needing them to visit on-site first.</p>
    </div>
    
  </div>
  

  <div class="row">
  <div class="col"><img src="https://i.pinimg.com/originals/bb/55/66/bb5566c14a95f1897b1e258e0fcb69fe.jpg" style="width:100%; height:30;"></div>
  <div class="col"><img src="https://www.geekmonkey.in/wp-content/uploads/2018/03/P3.jpg" style="width:100%; height:30;"></div>
  <div class="col"><img src="https://d28ww67mgfqxw3.cloudfront.net/catalog/blowup/product-16411-181003-115742.jpg" style="width:100%; height:30;"></div>
  <div class="col"><img src="https://www.happyfamilyart.com/wp-content/uploads/2014/10/CherryBlossom34.jpg" style="width:100%; height:30;"></div>
</div>
</div>



