<!-- <div >
  <h3>
    <img src={{prd.productsrc}} style="height:500px; width:500px"/>
    {{ prd.productname}}

  </h3>
</div> -->

<div class="row" *ngIf="prd != null">
    <div class="col-3">

       <img src={{prd.productsrc}} style="height:100%; width:100%;"> 
      
    </div>
    

    <div class="col-7">
       
        <h3>
        {{ prd.productname}}
        </h3>
        <p>{{prd.productdescription}}</p>
        <h5><strong>
            {{prd.productprize}}
            </strong>
        </h5>
      
    </div>

  </div> 